@{
    ViewBag.Title = "Home Page";
}

@{
    var langCookie = Request.Cookies["culture"];
    var lang = "en";
    if (langCookie != null)
    {
        lang = langCookie.Value;
    }
    var user = new EmployeeApplicationSystem.Models.ViewModels.LoginViewModel();
    if (Request.IsAuthenticated)
    {
        user = Newtonsoft.Json.JsonConvert.DeserializeObject<EmployeeApplicationSystem.Models.ViewModels.LoginViewModel>(User.Identity.Name);
    }
}

<div class="jumbotron">
    <h1><a>@Resource.Welcome: @user.FirstName</a></h1>

    <p class="lead">@Resource.MainMessage</p>

    
</div>

