
@{
    ViewBag.Title = "Register";
}

<h2>Register new user</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Register new applicant", "RegisterNewApplicant", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Register new Company Manager", "RegisterNewManager", null, new { @class = "btn btn-primary" })
    </div>
</div>

